<div class="row">
  <div class="col s12">
    <div style="padding: 10px;"  class="card">
      <div class="row">
        <div class="left card-title">
        </div>
      </div>
      <div class="row">
        <% @gallery.each do |image| %> 
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed responsive-img" src="<%= image[:source_url] %>">
              </div>
              <div class="card-content">
                <p><b>Name:</b> <%= image[:media_details][:sizes][:full][:file] %></p>
              </div>
              <div class="card-action center">
                <%= link_to "Download", domain_download_file_path(@domain, file: image[:source_url], filename: image[:media_details][:sizes][:full][:file]) %>
              </div>
            </div>
          </div>
        <% end %> 
      </div>
      
      <div class="row">
          <div class="col s12 center">
              <%== pagy_materialize_nav(@pagy) %>
          </div>
      </div>

    </div>
  </div>
</div>