<div class="row">
  <div class="col s12">
    <div style="padding: 35px;" align="center" class="card">
      <div class="row">
        <div class="left card-title">
          <b>New Domain</b>
        </div>
      </div>
      <%= render 'form', domain: @domain %>
    </div>
  </div>
</div>
