<p id="notice"><%= notice %></p>

<p>
  <strong>Namespace:</strong>
  <%= @namespace.namespace %>
</p>

<%= link_to 'Edit', edit_namespace_path(@namespace) %> |
<%= link_to 'Back', namespaces_path %>
